* {
    box-sizing: border-box;
}

body {
    /* background-color: #fff; */
    font-family: sans-serif;
}

.menu {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    flex-direction: column;
}

.link {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: blanchedalmond;
}

.link:hover,
.link:focus {
    background-color: rgb(204, 155, 91);
}

.text {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1170px;
    /* min-width: 320px; */
    margin: 0 auto;
    display: flex;
    /* align-items: center; */

}

.element {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: #e6f6f7;
    background-color: rgb(47, 50, 53);
}

.element:hover,
.element:focus {
    background-color: rgb(68, 82, 96);
}

@media screen and (min-width: 768px) {
    .menu {
        flex-direction: row;
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .element {
        flex-basis: calc((100% - 10px) / 2);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        gap: 15px;
    }

    .element {
        flex-basis: calc((100% - 30px) / 3);
    }

}