* {
    box-sizing: border-box;
}

body {
    /* background-color: #fff; */
    font-family: sans-serif;
}

.text {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
}

.element {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: #ea0000;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .element {
        flex-basis: calc((100% - 10) / 2);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        gap: 15px;
    }

    .element {
        flex-basis: calc((100% - 30px) / 3);
    }

}